
@use "sass:math";

$d-w: math.div(100, 1.5);
$dev: 'phone';
$is-phone: 1;
$dp-color: #5fecf5;

$font: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;