@import './variables';
@import './mixin';

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

body {
    margin: 0;
}